.header {
    background: $off-black;
    margin-bottom: $xl-size;
    padding: $m-size 0;
    color: white;
}

//BEM block element header naming convention
.header__title { //header = block and __title = element
    font-size: $l-size;
    margin: 0;
}

.header__subtitle {
    font-size: $m-size;
    color: $off-white;
    font-weight: 500;
    margin: 0;
}